---
title: ♥Category
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>CATEGORIES</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
  {% for category in site.categories %}
  <li class="tags-list" style="padding:40px"><a name="{{ category | first }}">{{ category | first }}</a>
    <ul class="tags-list" style="padding:40px">
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
  {% endfor %}
  
	<!-- <ul class="tags-list">
        <li>
        {% if site.recommend-tags and site.tags.size>0 %}
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>
        
        {% for tag in site.tags %}
        <li>
            <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
            {% for post in tag[1] %}
            <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>
        {% endfor%}
    </ul> -->
</main>
{% include footer.html %}
